@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">BPC Payment Simulator</h1>
            
            <div class="card">
                <div class="card-body text-center">
                    <p class="lead">Welcome to the BPC Payment Simulator</p>
                    <p>Select a payment method to get started</p>
                    <a href="/PaymentSimulator/Index" class="btn btn-primary btn-lg">Go to Payment Form</a>
                </div>
            </div>
        </div>
    </div>
</div>
